@{
    ViewData["Title"] = "Contacto";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Información de contacto</h4>
            <address>
                <strong>Soporte:</strong> <a href="mailto:soporte@empresa.com">soporte@empresa.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:marketing@empresa.com">marketing@empresa.com</a>
            </address>
        </div>
    </div>
</div>